.team {
	color: #FBE690;
	font-weight: 600;
	font-size: 20px;
	font-family: 'Tenor Sans', sans-serif;
	letter-spacing: -1px;
	font-stretch: ultra-condensed;
}
.head {
	padding: 5% 0;
	line-height: 1;
	/* width: 250px; */
	display:flex;
	align-items:center;
	justify-content:center;
}
.odd_value {
	width: 175px;
	cursor: pointer;
	justify-content: center;
}

.odd_value:hover {
	background: radial-gradient( #71B2DB, #4B64B9);
}

.odd {
	border: 1px solid #FBE690;
	height: 70px;
	flex-wrap: wrap;
	text-align:center;
	padding: 0 5px;
}

.disabled {
	background: radial-gradient( #71B2DB, #4B64B9);
	cursor: none;
}